
<footer align="center">
    <a  href="http://github.com/swarooppatilx"><button class="btn btn-sm btn-light font-monospace"> 
      <img src="./images/github-m.svg"  alt="github logo" height="30px" width="30px"> Made by Swaroop Patil</button></a>
</footer>